@model Twidder.Models.Profile

@* Afisarea profilului *@

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Profiles/Index/">Afisare conturi</a>
    <a class="btn btn-outline-success" href="/Profiles/New">Adauga cont</a>

</div>

<br />

<div class="card">

    <div class="card-body">

        <div class="card-text">@ViewBag.Profiles.First_Name</div>
                <div class="card-text">@ViewBag.Profiles.Last_Name</div>



   <img src=@ViewBag.Profiles.ProfileImage alt="imag" width="500" height="333">



        <div class="d-flex justify-content-between flex-row mt-5">

            @* <div><i class="bi bi-globe"></i> @ViewBag.Group.GroupName</div>*@

            

        </div>

    </div>

