
@{
    ViewBag.Title = "Index";
}
<div class="IndexMessage text-center container">
    <h1>@ViewBag.Message</h1>
    <h2> Grupuri </h2>
    <a class="btn btn-primary" href="/Groups/New" ">Creeaza un grup</a>
    <br />
    <br />
</div>
<div class="containerGroups">
    @foreach (var group in ViewBag.Groups)
    {
        <div class="containerPanel">
            <div class="panel panel-default panelGroup">
                <div class="panelHeader panel-heading">@group.GroupName</div>
                <div class="panel-body">
                    <br />
                    <strong>@group.GroupDescription</strong>
                    <br />
                </div>

                <div class="panel panel-footer panelFooter">
                    <a class="btn btn-success btn"  href="/Groups/Show/@group.GroupId">Afisare grup</a>
                </div>
            </div>
        </div>

    }
</div>