
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Grupuri</h2>
<br />

@if(ViewBag.Message != null){
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<div class="d-flex justify-content-center">

    <a class="btn btn-outline-success" href="/Groups/New/">Creeaza grup!</a>
    <br />
    <a class="btn btn-outline-success" href="/Posts/New">Creeaza postare!</a>
    <br />

</div>

<br />


@foreach (var group in ViewBag.Groups)
{
    <div class="card">

        <div class="card-body">

            <h5 class="card-title">@group.GroupName</h5>

            <div class="d-flex justify-content-between flex-row mt-5">
                <div><i class="card-text"></i> @group.GroupDescription</div>
                <a class="btn btn-success" href="/Groups/Show/@group.Id">Afisare grup</a>

                @if (group.CreatorId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                    {
                       <div class="d-flex">

                            <div>

                                <a class="btn btn-outline-primary" href="/Groups/Edit/@group.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                            </div>

                            <div>

                                <form method="post" action="/Groups/Delete/@group.Id">

                                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                </form>

                            </div>

                        </div>
                    }
            </div>

        </div>

    </div>

    <br />
    <br />
}


