
@{
    ViewBag.Title = "Adaugare Grup";
}



<h2>Adaugare Grup</h2>

<form method="post" action="/Groups/New">

    <label>Nume grup</label>
    <br />
    <input type="text" name="GroupName" />
    <br /><br />
    <button class="btn btn-success" type="submit">Adauga grup</button>
</form>

