model Twidder.Models.Group
@{
    ViewBag.Title = "Afisare grup";
}


<h2>@ViewBag.Title</h2>

<br />


<p>@Model.GroupName</p>


<form method="post" action="/Groups/Delete/@Model.Id">

    <button class="btn btn-danger" type="submit">Sterge grupul</button>

</form>
<br />
<a class="btn alert-success" href="/Categories/Index/">Afisare lista grupuri</a>

<br />
<hr />
<br />

