@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "FriendRequests";
}

<h2 style="font-family: 'Audiowide', cursive;">Friend Requests</h2> 


<a style="        background-color: #36b4e8; font-family: 'Audiowide', cursive;" class="btn btn-info" href="/Profiles/Show/@ViewBag.profileId">Back to profile</a>
<br />
<br />

<div class="panel panel-default GroupMembers">
    <div class="panel-heading text-center" style="border-radius: 20px;background-color: #36b4e8;"> Received Friend Requests </div>

    @for (int i=0; i< ViewBag.Length; i++){
        var user= ViewBag.FriendRequests[i]; 
        <div class="panel-body">
            <strong>@user.UserName</strong>
            <a class="btn btn-danger pull-right" href="/Profiles/DeclineFriend/@ViewBag.profileId/@i" style="margin-left: 10px"> Decline Request </a>
            <a class="btn btn-succes pull-right" style="background-color: #36b4e8; color: black;" href="/Profiles/AddFriend/@ViewBag.profileId/@i"> Add Friend </a>

            <br/> <hr/> 
            </div>
    }

<div/>
