@model Twidder.Models.Post
@{
    ViewBag.Title = "Edit";
}


<form method="post" action="/Posts/Edit/@Model.Id">

    <label>Continut postare</label>
    <input type="text" name="Content" value="@Model.Content" />
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />



    <br /><br />

    <button class="btn btn-success" type="submit">Modifica postare</button>

</form>