@{
    ViewBag.Title = "New";
}

<h2>Adaugare articol</h2>
<br />

<form method="post" action="/Posts/New">


    <label>Continut postare</label>
    <textarea name="Content"></textarea>
    <br />
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />

    <label>Selectati grupul</label>

    @*
    Proprietatea name primeste valoarea CategoryId, si anume id-ul categoriei, fiind atributul care
    se paseaza catre Controller prin post
    Proprietatea value are id-ul categoriei si valoarea care se afiseaza in dropdown (numele categoriei)
    *@

    <select name="GroupId">

        @foreach (var item in ViewBag.Groups)
        {
            <option value="@item.Id">@item.GroupName</option>
        }

    </select>
    <br />
    <button class="btn btn-success" type="submit">Adauga postare</button>

</form>


